.Button{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: inherit;
    user-select: none;
    outline: none;
    background-color: transparent;
    line-height: normal;
    color: black;
}

.Button:last-child{
    margin-left: 10px;
}