/* install font */
@font-face {
    font-family: Century_Gothic;
    src: url('./../fonts/Century_Gothic.ttf');
}
/* _________________________________________ */

/* project variables */
:root{
    /* background */
    --main-color: #354a7a;
    --white-color: #ffffff; 
    --orange-color: #b67743;
    --background-color: #cccccc;
    /* _____________________________________ */
    
    /* text */
    --font-black-color: #000000;
    --font-white-color: #ffffff; 
    --font-orange-color: #b67743;
    /* _____________________________________ */
}
/* _________________________________________ */


html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Century_Gothic;
    background-color: var(--background-color);
}

.ComponentCreator{
    margin: 20px;
    background-color: white;
}